
.extheader {
    background-color: #97e08a;
    padding: 10px;
    display: flex;
}

.extheader h1 {

}

.extheader a {
    font-size: 30px;
    margin: auto;
    margin-right: 0;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #ff0000;
    border: 1px solid #ff0000;
}

.extheader a:hover {
    background-color:#56894d;
}

.QC {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    background-color: #b8fff8;
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
}

.about_boxes {
    display: flex;
    margin: 10px;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.about_box {
    padding: 10px;
    background-color: #dfff86;
    border: 1px solid #ff0000;
    text-align: center;;
}

.about_box h3 {
    font-size: 40px;
}

.about_box p {
    font-size: 20px;
}

.about_box .img_1 {
    display: block;
    margin: auto;
    width: 50%;
}