
.extheader {
    background-color: #97e08a;
    padding: 10px;
    display: flex;
}

.extheader a {
    font-size: 30px;
    margin: auto;
    margin-right: 0;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: #ff0000;
    border: 1px solid #ff0000;
}

.extheader a:hover {
    background-color:#56894d;
}

.QC {
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: auto;
    margin-bottom: 10px;
    background-color: #b8fff8;
}

th, td {
    border: 1px solid #000000;
    padding: 10px;
    text-align: center;
    font-size: 30px;
}

.about_boxes {
    display: flex;
    margin: 10px;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    min-width: 90%;
}

.about_box {
    padding: 10px;
    background-color: #dfff86;
    border: 1px solid #ff0000;
    text-align: center;;
    width: 95%;
}

.about_box h3 {
    font-size: 40px;
}

p {
    font-size: 30px;
}

.about_box .img_1 {
    display: block;
    margin: auto;
    width: 50%;
}

footer {
    background-color: #97e08a;
    padding: 10px;
    text-align: center;
}

form {
    background-color: #f2f2f2;
    padding: 20px;
    margin: auto;
    width: 95%;
    text-align: center;
}

input {
  width: 100%;
  max-width: 400px; 
  height: 5%;    
}